@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
}

.btn:focus,
.resizeselect:focus{
	box-shadow: none !important;
	border: none !important;
	outline: 0 !important;
}
.form-control:focus {
    border-color: #dee2e6 !important;
    outline: 0 !important;
    box-shadow: none !important;
}

.gap {
    padding: 3rem 0;
}

/* header-start */
.topbar {
    background: #f0720b;
    padding: 0.625rem;
}
.topbar .col-lg-6, .topbar .col-md-6:nth-child(2) a {
    justify-content: flex-end;
}
.topbar a {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 0.625rem;
    font-size: 0.875rem;
    font-weight: 500;
}
header {
    width: 100%;
    position: relative;
    transition: all 0.3s ease;
    background: #fff;
}
.header.sticky .navbar {
    position: fixed;
    z-index: 9999;
    top: 0;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
}
nav.navbar {
    width: 100%;
    background: #fff;
}
.navbar .navbar-brand {
    font-size: 2rem;
    font-weight: 700;
    color: #242f67;
}
.navbar .navbar-brand span {
    color: #f0720b;
}
.navbar .navbar-nav {
    gap: 2rem;
}
.header .nav-link {
    color: #242f67;
    font-size: 1rem;
    font-weight: 600;
    padding-left: 0 !important;
    padding-bottom: 0.625rem;
    padding-right: 0 !important;
}
.header .nav-link.active {
    color: #f0720b !important;
    font-size: 1rem;
}
.navbar-nav .nav-item {
    position: relative;
}
.navbar-nav .nav-item:not(:first-child) .nav-link:after {
    position: absolute;
    content: '';
    height: 0.0625rem;
    background: #f0720b;
    left: 0;
    bottom: 0;
    transition: 0.5s ease;
    width: 0;
}
.navbar-nav .nav-item:hover .nav-link::after {
    opacity: 1;
    width: 100%;
    visibility: visible;
}

.header .nav-link:hover {
    color: #f0720b;
}

@media (max-width: 768px) {
    .topbar a {
        justify-content: center !important;
    }
    .topbar div:not(:first-child) a {
        margin-top: 0.25rem;
    }
}
/* header-end */

/* custom-btn */
.custom-btn {
    border-radius: 0.5rem;
    background-color: #f0720b;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1rem;
    line-height: 1;
    padding: 0.625rem;
    transition: all 0.5s;
    margin-top: 1rem;
}
.custom-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.custom-btn span::after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -1.25rem;
    transition: 0.5s;
}
 .custom-btn:hover span {
    padding-right: 1.563rem;
  }
  
  .custom-btn:hover span:after {
    opacity: 1;
    right: 0;
  }
  /* custom-btn */

  /* banner */
  .banner_content h3 {
    font-size: 2.125rem;
    line-height: 1;
    font-weight: 700;
    color: #242f67;
}
.banner_content h1 {
    color: #242f67;
    font-weight: 700;
}
.banner_content h1 span, .title h2 span {
    color: #f0720b;
}
.banner_content .title h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
    color: #242f67;
}
.title h2 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    color: #242f67;
}
.title {
    margin-bottom: 3rem;
}
.sub-title {
    font-size: 1.75rem;
    font-weight: 500;
    color: #242f67;
    margin-bottom: 2rem;
}
@media (max-width: 991px) {
    .margin-bottom {
    margin-bottom: 2rem;
    }
    .gap {
    padding: 1.5rem 0;
}
}

@media (max-width: 768px) {
    .title h2 {
        font-size: 1.5625rem;
    }
}

/* about */
.about-img img {
    animation: floatUpDown 3s ease-in-out infinite;
}

@keyframes floatUpDown {
    0%, 100% {
        transform: translateY(0);   /* starting position */
    }
    50% {
        transform: translateY(-20px); /* move up */
    }
}
.nav-tabs {
    flex-wrap: nowrap !important;
    border-bottom: 0 !important;
    margin-bottom: 1rem !important;
}
.nav-tabs .nav-item {
    width: 100%;
}
.nav-tabs .nav-item .nav-link {
    width: 100%;
    border-radius: 0;
    border: none;
    background: #fff;
    color: #f0720b;
}
.nav-tabs .nav-item .nav-link.active {
    width: 100%;
    background: #f0720b;
    color: #fff;
    border-radius: 0;
    border: none;
}
.tab-content {
    padding: 0.625rem;
}
.tab-pane p span {
    color: #f0720b;
}
.tools-use {
    padding-left: 0.625rem;
}
.tools-use ul {
    padding-left: 0;
    display: flex;
    gap: 1.25rem;
}
.tools-use ul li {
    list-style: none;
    padding: 0.625rem;
    border: 0.0625rem solid #d1d4db;
    border-radius: 0.5rem;
    transition: 0.3s ease-in-out;
}
.tools-use ul li:hover {
    transform: translateY(-0.25rem);
}
.tools-use ul li img {
    width: 1.5625rem;
}


/* media-query */
@media (max-width: 991px) { 
    .banner_content {
        text-align: center;
        padding: 2rem 0;
    }
    .banner_content h3, .banner_content h1, .banner_content h5 {
        margin-bottom: 1.25rem;
    }
 }

 /* services */
 .row>*.service-block {
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.content-block {
    border: none;
    border-radius: 1.25rem;
    box-shadow: 5px 5px 10px 0 rgba(204, 222, 255, 1);
    padding: 2rem;
    min-height: 22rem;
}
.service-head {
    line-height: 1.4;
    margin: 1rem 0;
}
.softIcon .fa {
    font-size: 3rem;
    color: #f0720b;
    animation: rotate 3s infinite;
}
@keyframes rotate {
    from{transform: rotateY(150deg);}
    to{transform: rotateY(-150deg);}
}

.services .title-text {
    text-align: center;
}

@media (max-width: 768px) {
    .content-block {
        min-height: auto;
    }
}

 /* projects */
.slick_Gap {
    margin: 0 1rem;
}
.slick-block {
    background: #f8f9fa;
    border-radius: 1rem;
    padding: 1rem;
}
.slick-title, .service-head {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.625rem;
}
.title-text {
    font-size: 1rem;
}
.content-flex {
    display: flex;
    gap: 0.75rem;
    align-items: center;
}
.testimonial_img {
    width: 100%;
    max-width: 15rem;
    height: 5rem;
}
.testimonial_img img {
    width: 100%;
}
.testimonial_content h5 {
    font-size: 1.25rem;
    font-weight: 600;
    color: #151E3F;
}
.slick-prev:before, .slick-next:before {
    font-size: 1.5rem !important;
}
button.slick-prev:hover, button.slick-prev:focus, button.slick-next:hover, button.slick-next:focus {
    background: #ed934a;
}
.slick-next:before {
    content: "\f105" !important;
}
.slick-prev:before {
    content: "\f104" !important;
}
.slick-prev:before, .slick-next:before {
    font-family: 'FontAwesome' !important;
    color: #fff !important;
    opacity: 1 !important;
    position: inherit;
    transform: translate(-50%, -50%);
}
button.slick-arrow {
    position: absolute;
    top: -4rem !important;
    width: 2.5rem;
    height: 2.5rem;
    background: #f0720b;
    border-radius: 50%;
    border: 0;
}
button.slick-next.slick-arrow {
    right: 0.5rem;
}
button.slick-prev.slick-arrow {
    right: 6rem;
    left: inherit;
}
.slick-prev,
.slick-next {
font-size: 0;   /* hides text */
}

.more-text{
  display: -webkit-box;
  -webkit-line-clamp: 1;   /* Show only 1 line */
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.more-text.active {
  -webkit-line-clamp: unset; /* Show full text */
  line-clamp: unset;
}

.read-more {
  background: none;
  border: none;
  color: #f0720b;
  cursor: pointer;
  padding: 0;
}

/* On desktop show full text and hide button */

@media (max-width: 991px) {
    button.slick-arrow {
        width: 2rem;
        height: 2rem;
    }
    .slick-prev:before, .slick-next:before {
    font-size: 1rem !important;
    }
    button.slick-prev.slick-arrow {
        right: 3rem;
    }
}

@media (min-width: 768px) {
  .more-text {
    display: inline;
  }

  .read-more {
    display: none;
  }
}

@media (max-width: 767px) {
    button.slick-arrow {
       display: none !important;
    }
    .slick-title {
        font-size: 1rem;
    }
}



/* contact */
.contact-info {
    padding: 1.563rem 1.875rem;
    background: #faf8ff;
    text-align: center;
    position: relative;
    margin-top: 1.563rem;
}
.contact-info:before {
    content: '';
    position: absolute;
    top: -1.563rem;
    left: -3.125rem;
    background: url('../images/contact-info-bg.png') no-repeat;
    height: 10.938rem;
    width: 10.938rem;
}
.contact-info .lage {
    color: #f0720b;
    font-size: 6.25rem;
    font-weight: 700;
    line-height: 85px;
    position: relative;
    z-index: 9;
}
.contact-info .lage span {
    color: #242f67;
}
.contact-info .smll {
    text-align: left;
    color: #000000;
    font-size: 1.25rem;
    font-weight: 600;
    margin-left: 1.25rem;
}
.call-now {
    padding-top: 3.125rem;
    text-align: left;
    margin-bottom: 2.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.call-now span {
    font-size: 3.75rem;
    font-weight: 700;
    color: #242f67;
}
.call-now p {
    color: #f0720b;
    font-weight: 500;
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
}
.call-now a {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.25rem;
    color: #000000;
    transition: all 0.3s ease;
    line-height: 1;
}
.call-now a:hover {
    color: #242f67;
}

/* media-query */
@media (max-width: 991px) { 
    .contact-info:before {
        background: none;
    }
    .contact-info .d-flex {
        gap: 2rem;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .contact-info .lage {
        font-size: 4rem;
    }
    .contact-info .d-flex {
        gap: 0.5rem;
    }
}

/* footer */
.footer {
    background: #f0720b;
    padding: 1rem;
}
.footer-text {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0;
    text-align: center;
}

@media (max-width: 768px) {
    .footer-text {
        font-size: 0.875rem;
    }

}